# Fichiers de configuration sensibles
config.js

# Variables d'environnement
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Dossiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Netlify
.netlify/
